body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(250, 250, 250, 0.9);
    scroll-behavior: smooth;
}

.wrapper{
    width: 100%;
    height: 100%;
}

body, .wrapper{
    max-width: 100%;
    overflow-x: hidden;
}

.desktop{
    display: none;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
}

main{
    height: auto;
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

section ~ .background{
    min-height: 50vh;
    max-height: 50vh;
    height: 50vh;
}
.background:first-of-type{
    min-height: 105vh;
    max-height: 1300px;
}

#mountain{
    background-image: url("../img/mountain.jpg");
}

#lake{
    background-image: url("../img/lake.jpg");
}

#gfx{
    background-image: url("../img/mountaindesign.png");
}

#temple{
    background-image: url("../img/temple.png");
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.picture{
    margin: 2.5px;
    background-color: gray;
    border: 1px solid gray;
}


.productpage#mountain{
    background-image: url("../img/mountain-desktop.jpg");
    height: 20vh;
    min-height: 20vh;
    max-height: 20vh;
    background-position: center -15%;
    background-size: contain;
}

.small{
    height: 150px;
    width: 150px;
}

.large{
    height: 300px;
    width: 300px;
}

.product{
    width: 100%;
    height: auto;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

i{
    transform:scale(2);
}

#villager{
    background-image: url("../img/villager.jpg");
    min-height: 70vh;
    max-height: 100vh;
    background-position: center 125%;
}
#head{
    background-image: url("../img/head.jpg");
    width: 100%;
    max-height: 50vh;
    min-height: 50vh;
    height: auto;
    background-repeat: no-repeat;
}

#text{
    background-image: url("../img/text.png");
    width: 100%;
    max-height: 15vh;
    min-height: 15vh;
    height: auto;
    background-repeat: no-repeat;
}

footer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chartreuse; */
}

a{
    color: black;
    text-decoration: none;
}

footer a {
    margin: 25px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
}


section{
    height: auto;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

article{
    padding: 5%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article.contact{
    height: 90vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: white;
    width: 100vw;
}

header > a{
    position: relative;
    left: -15%;
}

header > h1{
    position: relative;
    left: -2.5%;
}

article > h1 {
    font-size: 1.5rem;
    font-weight: 600;
    width: auto;
}

article.productpage > h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

article.productpage > p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 25px;
}

article.contact > h1 {
    font-size: 2rem;
    font-weight: 600;
}

@media only screen and (min-width: 415px) and (min-height: 415px){
    
    
    #gfx + section{
        display: grid;
        grid-template-areas:
        "one l ."
        "two l three"
        ". . four";
    }
    
    .picture{
        margin: 15px;
        padding: 0;
    }
    
    .small{
        width: 200px;
        height: 200px;
        grid-area: s;
    }
    
    .one{
        grid-area: one;
    }
    .two{
        grid-area: two;
    }
    .three{
        grid-area: three;
    }
    .four{
        grid-area: four;
    }
    
    .large{
        width: 300px;
        height: 300px;
        grid-area: l;
    }
    
    h1{
        font-size: 3rem;
    }
    
    article.contact{
        height: 82.5vh;
    }
    
    article > h1 {
        font-size: 2rem;
        font-weight: 600;
    }
    
    article.contact > h1 {
        font-size: 3rem;
        font-weight: 500;
    }
    
    footer{
        height: 10vh;
    }
    
    footer a{
        font-size: 2rem;
    }
    
    section.top > .small{
        height: 250px;
        width: 250px;
    }
    
    footer a {
        margin: 0 75px 0 75px;
        font-size: 2rem;  
    }
}

@media only screen and (min-width: 1023px){
    
    #mountain{
        background-image: url("../img/mountain-desktop.jpg");
    }
    
    #lake{
        background-image: url("../img/lake-desktop.jpg");
    }
    
    #gfx{
        background-image: url("../img/mountaindesign-desktop.jpg");
    }
    
    #temple{
        background-image: url("../img/temple-desktop.png");
    }
    
    section{
        height: 70vh;
        display: grid;
        grid-template-areas:
        "one l two"
        "three l four";
    }
    
    
    #gfx + section{
        grid-template-areas:
        "one l two"
        "three l four";
    }
    
    .small{
        height: 300px;
        width: 300px;
    }
    
    .large{
        height: 600px;
        width: 600px;
    }
    
    section.top > .small{
        height: 300px;
        width: 300px;
    }
    
    section ~ .background{
        min-height: 80vh;
        max-height: 80vh;
        height: 80vh;
    }
    
    article.contact{
        height: 72.5vh;
    }
    
    article > h1 {
        font-size: 2.5rem;
        font-weight: 600;
        width: auto;
    }
    
    article.contact > h1 {
        font-size: 3rem;
        font-weight: 500;
        position: relative;
    }
    
    article.contact > h1:first-of-type{
        left: -25%;
        top: -15%;
    }
    
    article.contact > h1:last-of-type{
        left: 25%;
        bottom: -15%;
    }
    
    footer a {
        margin: 0 250px 0 250px;
        font-size: 3rem;
    }

    header{
        height: 7.5vh;
    }
    
    header > h1{
        font-size: 1.5rem;
    }

    header > a{
        transform: scale(0.75);
        left: -40%;
    }

    main > section{
        display: grid;
        grid-template-areas:
        "p t";
        grid-template-columns: 50% 50%;
    }

    .product{
        grid-area: p;
        background-position: center;
    }

    article.productpage{
        grid-area: t;
    }


}